<nav>
  <ul>
    <li><a href="#" >TRANH CHỦ</a></li>
    <li><a routerLink="/films" routerLinkActive="active">DANH SÁCH PHIM</a></li>
    <li class="drop">
      <a href="#">DANH SÁCH RẠP</a>
      <div class="dropdownContain">
        <div class="dropOut">
          <div class="triangle"></div>
          <ul>
            <li>RẠP GALAXY CINEMA</li>
            <li>RẠP CGV</li>
            <li>RẠP LOTTE CINEMA</li>
            <li>RẠP BHD</li>
          </ul>
        </div>
      </div>

    </li>

    <li><a routerLink="/login" routerLinkActive="active">ĐĂNG NHẬP</a></li>
    <li><a routerLink="/help" routerLinkActive="active">TÌM ĐƯỜNG</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
