<div class="container">
  <h4 class="latest-text w3_latest_text">GALAXY CINEMA</h4>
  <div class="slider">
    <figure>
      <a *ngFor="let slideShow of galaxySlideShows" href="{{slideShow.url}}">
        <img src={{slideShow.image}} alt={{slideShow.url}}>
      </a>
    </figure>
  </div>
  <h4 class="latest-text w3_latest_text">CGV CINEMAS</h4>
  <div class="slider">
    <figure>
      <a *ngFor="let slideShow of cgvSlideShows" href="{{slideShow.url}}">
        <img src={{slideShow.image}} alt={{slideShow.url}}>
      </a>
    </figure>
  </div>
</div>
