<div class="container">

  <sebm-google-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [streetViewControl]="false"
    [zoomControl]="true">

    <sebm-google-map-marker *ngFor="let c of cinemaMarkers; let i = index"
                            [latitude]="c.lat"
                            [longitude]="c.lng"
                            [iconUrl]="c.iconUrl">

      <sebm-google-map-info-window>
        <strong>{{c.name}}</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
</div>

